.CommonTable__Container .CommonTable__TableContainer {
  max-width: 100%;
  overflow: auto;
}

.CommonTable__Container .CommonTable__Toolbar {
  display: flex;
  padding: 0 16px;
}

.CommonTable__Toolbar__Column {
  width: 25%;
}

.CommonTable__Toolbar__Column:first-child {
  margin-right: auto;
}

.CommonTable__Toolbar__Column:last-child:not(:first-child) {
  margin-left: auto;
}

.CommonTable__Table--loading > * {
  margin-top: 10px;
}

.CommonTable__LoadMore {
  text-align: center;
  margin: 40px 0 20px;
}

.CommonTable__EmptyMessage {
  margin: 10px auto;
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px 20px;
  background: #fafafa;
  border-radius: 4px;
}
